<div class="center jumbotron Bcolor">
  <h1> Welcome to DrunkFaces</h1>
  
  <h2> Where you can share with your friends or the whole world how drunk you really got</h2>
  
  <%= link_to "Sign up now!", "", class:"btn btn-lg btn-warning" %>
</div>
<div class="row">
  <div class="col-xs-6 col-lg-6" align="center">
    <h3 class="midrow ">
      View Public Faces
    </h3>
    <h2> Browse and View drunk faces that drunks shared publicly</h2>
    <p><%= link_to "Browse DrunkFaces", "", class: "btn btn-info btn-small " %></p>
  </div>
  
  
   <div class="col-xs-6 col-lg-6" align="center">
    <h3 class="midrow">
      Learn More About DrunkFaces
    </h3>
    <h2> Learn Everything you need to know about DrunkFaces</h2>
    <p><%= link_to "Learn More", "info", class: "btn btn-info btn-small" %></p>
  </div>
  


</div>

  <br> </br>
  