<p>
  <strong>First Name:</strong>
  <%= @inquiries.firstName %>
</p>
 
<p>
  <strong>Last Name:</strong>
  <%= @inquiries.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @inquiries.cemail %>
</p>

<p>
  <strong>Body:</strong>
  <%= @inquiries.body %>
</p>
