<br></br>

<div class="footer">
        
    <p>&copy;2015 DrunkFaces.  All rights reserved.</p>
        
        <div class="foot-bar">
            <p>     
                <%= link_to "About", "about", class: "btn btn-inverse btn-small " %>  
                <%= link_to "Legal", "legal", class: "btn btn-inverse btn-small " %>
                <%= link_to "Privacy", "privacy", class: "btn btn-inverse btn-small " %>
                <%= link_to "Contact Us", "contact", class: "btn btn-inverse btn-small " %>
            </p>

        </div>
        
</div>